# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

.DS_Store
Pods/Pods.xcodeproj/xcuserdata/skante.xcuserdatad/
WeddingGuestListManager.xcodeproj/xcuserdata/skante.xcuserdatad/
WeddingGuestListManager.xcworkspace/xcuserdata/skante.xcuserdatad/

Pods/Pods.xcodeproj/xcuserdata/dladowitz.xcuserdatad/
WeddingGuestListManager.xcworkspace/xcuserdata/dladowitz.xcuserdatad/
WeddingGuestListManager.xcworkspace/xcuserdata/dladowitz.xcuserdatad/UserInterfaceState.xcuserstate
WeddingGuestListManager.xcodeproj/xcuserdata/dladowitz.xcuserdatad/
WeddingGuestListManager.xcworkspace/xcuserdata/dladowitz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.gitignore~
